<header>
  <div class="row">
    <div class="d-flex justify-content-start">
      <div class="text-bg-danger"></div>
      <img class="logo-image" src="../assets/images/logo.jpg" alt="" />
    </div>
  </div>
</header>
<nav class="">
  <div class="header-info">
    <a
      routerLink="about"
      routerLinkActive="active"
      class="header-links"
      [routerLinkActiveOptions]="{ exact: true }"
      >ماذا عنا</a
    >
    <a
      href=""
      routerLink="contacts"
      routerLinkActive="active"
      class="header-links"
      [routerLinkActiveOptions]="{ exact: true }"
      >تواصل معنا</a
    >
    <a
      href="#accounting-services"
      class="header-links"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >خدمات المحاسبة</a
    >
    <a
      [routerLink]="['/']"
      class="header-links"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >الرئيسية</a
    >
  </div>
</nav>
