<header>
  
    <div class="location-parent">
        <i  class="fa-solid fa-location-dot location-icon"></i>
      
        
         <p class="location-details">عمارة 20 ب عمارات الشمس الدور الاول - شارع مينا من ميدان الرماية أمام فندق مريوط مينا هاوس و معهد مينا للبريديات - الهرم - الجيزة
         </p>
       
     </div>
     
     <div class="logo">
       <img class="logo-image" src="../assets/images/logo.jpg"  alt="">
     </div>
   </header>
   <nav class="">
     <div class="header-info">
      
       
        <a href="" routerLink="about"    class="header-links">ماذا عنا</a>
        <a href="" routerLink="contacts" class="header-links">تواصل معنا</a>
        <a href="" class="header-links">خدمات المحاسبة</a>
        <a href="" class="header-links">الرئيسية</a>
   
     </div>
    
   </nav>