<div class="footer">
  <footer class="w-100 m-0 p-0">
    <div class="footer-container p-3">
      <div class="col-lg-6 col-md-6 col-sm-6 holding-img">
        <div class="image-footer-container">
          <img class="image-footer" src="../assets/images/logo.jpg" alt="" />
        </div>
      </div>
      <div class="px-5 col-lg-6 col-md-6 col-sm-6">
        <h6 class="col-12 m-0 mb-3 mt-2">بيانات الاتصال</h6>

        <a href="" class="d-flex">
          <a
            href="https://www.linkedin.com/company/%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A%D8%A9-%D9%84%D9%84%D8%A5%D8%B3%D8%AA%D8%B4%D8%A7%D8%B1%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D8%A7%D9%84%D9%8A%D8%A9-%D9%88%D8%A7%D9%84%D9%85%D8%AD%D8%A7%D8%B3%D8%A8%D9%8A%D8%A9/"
          >
            <i
              class="fa-brands fa-linkedin text-white mx-2 mt-1 footer-icon"
            ></i>
          </a>
          <p class="footer-word-details">لينكد ان</p>
        </a>
        <a href="" class="d-flex justify-content-lg-start">
          <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=Reyad@gmail.com"
          >
            <i class="fa-solid fa-envelope mx-2 footer-icon"></i
          ></a>
          <p class="footer-contacts footer-icon">ReyadGamal@gmail.com</p>
        </a>

        <a href="" class="d-flex">
          <i
            class="fa-solid fa-phone-volume mx-2 footer-icon"
            id="footer-icons"
          ></i>
          <p class="footer-word-details">201009111291<span>+</span></p>
        </a>
      </div>
    </div>
  </footer>
</div>
