<!-- <div class="footer">
  <footer class="w-100 m-0 p-0">
    <div class="footer-container p-3">
      <div class="col-lg-6 col-md-6 col-sm-6 holding-img">
        <div class="">
          <h3>مواعيد العمل</h3>
          <p>من السبت إلى الخميس من الساعة 8 صباحا حتى 5 مساء</p>
        </div>
      </div>
      <div class="px-5 col-lg-6 col-md-6 col-sm-6">
        <h6 class="col-12 m-0 mb-3 mt-2">بيانات الاتصال</h6>

        <a href="linked-in link" class="d-flex">
          <a
            aria-label="linked-in"
            href="https://www.linkedin.com/company/%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A%D8%A9-%D9%84%D9%84%D8%A5%D8%B3%D8%AA%D8%B4%D8%A7%D8%B1%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D8%A7%D9%84%D9%8A%D8%A9-%D9%88%D8%A7%D9%84%D9%85%D8%AD%D8%A7%D8%B3%D8%A8%D9%8A%D8%A9/"
          >
            <i
              class="fa-brands fa-linkedin text-white mx-2 mt-1 footer-icon"
            ></i>
          </a>
          <p class="footer-word-details">لينكد ان</p>
        </a>
        <a href="gmail-link" class="d-flex justify-content-lg-start">
          <a
            aria-label="Gmail"
            href="https://mail.google.com/mail/?view=cm&fs=1&to=Reyad@gmail.com"
          >
            <i class="fa-solid fa-envelope mx-2 footer-icon"></i
          ></a>
          <p class="footer-contacts footer-icon">ReyadGamal@gmail.com</p>
        </a>

        <a href="number-link" class="d-flex" aria-label="number-link">
          <i
            class="fa-solid fa-phone-volume mx-2 footer-icon"
            id="footer-icons"
          ></i>
          <p class="footer-word-details">201009111291<span>+</span></p>
        </a>
      </div>
    </div>
  </footer>
</div> -->
<!-- Footer -->
<footer class="text-center text-white">
  <section class="content-footer col-12">
    <div class="details-all">
      <div class="icons-word-details">
        <h3>عنوان المكتب</h3>
        <p>عمارة 20 ب عمارات الشمس الدور الاول - شارع مينا</p>
      </div>
      <div class="location-container">
        <i class="fa-solid fa-location-dot"></i>
      </div>
    </div>
    <div class="details-all">
      <div class="icons-word-details">
        <h3>مواعيد العمل</h3>
        <p>السبت -الأربعاء</p>
        <p>الساعة الثامنة صباحا إلى الخامسة مساء</p>
      </div>
      <div class="location-container">
        <i style="font-size: 2rem" class="fa-regular fa-clock"></i>
      </div>
    </div>
    <div class="details-all">
      <div class="icons-word-details">
        <h3>تواصل معنا</h3>
        <p>Reyad@gmal.com</p>
        <p><strong>01009111291</strong></p>
      </div>
      <div class="location-container">
        <i class="fa-solid fa-phone-volume"></i>
      </div>
    </div>
  </section>
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <div class="d-flex justify-content-center contact-new" id="icons">
        <a
          href="https://www.linkedin.com/company/%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A%D8%A9-%D9%84%D9%84%D8%A5%D8%B3%D8%AA%D8%B4%D8%A7%D8%B1%D8%A7%D8%AA-%D8%A7%D9%84%D9%85%D8%A7%D9%84%D9%8A%D8%A9-%D9%88%D8%A7%D9%84%D9%85%D8%AD%D8%A7%D8%B3%D8%A8%D9%8A%D8%A9/"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>

        <a href="facebook.com"><i class="fa-brands fa-facebook-square"></i></a>
      </div>
    </section>

    <!-- Section: Links -->
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <p class="text-white text-center" href="https://mdbootstrap.com/">
      جميع الحقوق محفوظة - الدولية لللإستشارات المالية والمحاسبية
    </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
