<div class="footer">
  <footer class="w-100 m-0 p-0">
    <div class="row p-3">
      <div class="px-5 col-lg-4 col-md-4 col-sm-6">
        <h6 class="col-12 m-0 mb-1">بيانات الاتصال</h6>

        <a href="" class="d-flex">
          <i class="fa-brands fa-linkedin text-white mx-2 mt-1 footer-icon"></i>
          <p class="footer-word-details">Linked in</p>
        </a>
        <a href="" class="d-flex justify-content-lg-start">
          <i class="fa-solid fa-envelope mx-2 footer-icon"></i>
          <p class="footer-word-details footer-icon">ReyadGamal@gmail.com</p>
        </a>

        <a href="" class="d-flex">
          <i
            class="fa-solid fa-phone-volume mx-2 footer-icon"
            id="footer-icons footer-icon"
          ></i>
          <p class="footer-word-details footer-icon">+01023057927</p>
        </a>
      </div>
      <div class="px-5 col-lg-4 col-md-4 col-sm-6">
        <h6 class="col-12 m-0 mb-1">بيانات الاتصال</h6>

        <a href="" class="d-flex">
          <i class="fa-brands fa-linkedin text-white mx-2 mt-1 footer-icon"></i>
          <p class="footer-word-details">Linked in</p>
        </a>
        <a href="" class="d-flex justify-content-lg-start">
          <i class="fa-solid fa-envelope mx-2 footer-icon"></i>
          <p class="footer-contacts footer-icon">ReyadGamal@gmail.com</p>
        </a>

        <a href="" class="d-flex">
          <i
            class="fa-solid fa-phone-volume mx-2 footer-icon"
            id="footer-icons"
          ></i>
          <p class="footer-word-details">+01023057927</p>
        </a>
      </div>

      <div class="px-5 col-lg-4 col-md-4 col-sm-6">
        <h6 class="col-12 m-0 mb-1">بيانات الاتصال</h6>

        <a href="" class="d-flex">
          <i class="fa-brands fa-linkedin text-white mx-2 mt-1 footer-icon"></i>
          <p class="footer-word-details">Linked in</p>
        </a>
        <a href="" class="d-flex justify-content-lg-start">
          <i class="fa-solid fa-envelope mx-2 footer-icon"></i>
          <p class="footer-word-details">ReyadGamal@gmail.com</p>
        </a>

        <a href="" class="d-flex">
          <i
            class="fa-solid fa-phone-volume mx-2 footer-icon"
            id="footer-icons"
          ></i>
          <p class="footer-word-details footer-icon">+01023057927</p>
        </a>
      </div>
    </div>
  </footer>
</div>
