<section class="section" aria-label="Newest Photos">
  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev">
      &#8656;
    </button>
    <button class="carousel-button next" data-carousel-button="next">
      &#8658;
    </button>
    <ul data-slides>
      <li class="slide" data-active>
        <img
          src="assets/images/carousel/carousel-tax-pay.webp"
          alt="     محاسبون قانونيين وخبراء ضرائب"
        />
        <div class="carousel-content-word">
          <i class="fa-solid fa-coins"></i>
          محاسبون قانونيين وخبراء ضرائب
        </div>
      </li>
      <li class="slide">
        <img
          src="assets/images/carousel/AccoutingOne.webp"
          alt="          إعداد نظم التكاليف الصناعية للمصانع ونظم التكاليف لشركات المقاولات
          "
        />
        <div class="carousel-content-word">
          <i class="fa-solid fa-coins"></i>
          إعداد نظم التكاليف الصناعية للمصانع ونظم التكاليف لشركات المقاولات
        </div>
      </li>
      <li class="slide">
        <img
          src="assets/images/carousel/service.webp"
          alt="       إعداد دراسات الجدوى الإقتصادية للمشروعات"
        />
        <div class="carousel-content-word">
          <i class="fa-solid fa-coins"></i>
          إعداد دراسات الجدوى الإقتصادية للمشروعات
        </div>
      </li>
    </ul>
  </div>
</section>
