<div class="main">
  <app-carousel></app-carousel>
</div>
<div class="">
  <div class="row mx-2 mb-5 d-flex justify-content-around" id="card-parent">
    <div class="card-acc">
      <img class="card-img" src="../assets/images/card/Grow-Money.jpg" alt="" />
      <blockquote class="testimonial">
        <p class="testimonial-text">
          تأسيس الشركات والمنشأة الفردية بأنواعها وحسب الكيان القانوني لها ،
          شركات أشخاص- تضامن وتوصية بسيطة ، شركات الأموال – شركات مساهمة، شركات
          ذات مسئولية محدودة ، شركات الشخص الواحد، والتوصية بالاسهم تحت جميع
          القوانين واللواح المعمول بها في جمهورية مصر العربية.
        </p>
        <!-- <p class="testimonial-author">IFAC</p>
      <p class="testimonial-job">Senior Accountant</p> -->
      </blockquote>
    </div>

    <div class="card-acc">
      <img class="card-img" src="../assets/images/card/foundation.jpg" alt="" />
      <blockquote class="testimonial">
        <p class="testimonial-text">
          تأسيس وتعديل كافة انواع الشركات بكافة أشكالها القانونية منشئات فردية -
          شركات أشخاص - شركات اموال - شركات مهنية - مكاتب تمثيل لشركات أجنبية
          حتى استلام السجل التجاري واكتساب الشركة الشخصية الاعتبارية وكذلك كافة
          التعديلات للنظام الأساسي والسجل التجاري للشركات أثناء عمر الشركة.
        </p>
      </blockquote>
    </div>
    <div class="card-acc">
      <img
        class="card-img"
        src="../assets/images/card/liquidating.png"
        alt=""
      />
      <blockquote class="testimonial">
        <p class="testimonial-text">
          إنهاء التراخيص للمصانع والشركات وجمع الأنشطة طبقا للوائح والقوانين
          تسجل العلامات التجارية وحقوق الملكية الفكرية التسجيل في الفاتورة
          الإلكترونية التسجيل في هيئة الصادرات والواردات كمصدر او مستورد
        </p>
      </blockquote>
    </div>
    <div class="card-acc">
      <img
        class="card-img"
        src="../assets/images/card/office-notice.jpg"
        alt=""
      />
      <blockquote class="testimonial">
        <p class="testimonial-text">
          يقبل المكتب أعمال التصفية للشركات حتى محو السجل التجاري بتعيين ممثلي
          المكتب مصفيين قانونيين. إعداد اللوائح الإدارية ولائحة الجزاءات
          والخصومات والثواب ولائحة النظام الأساسي للشئون الإدارية للشركات بما
          يتوافق مع قانون العمل والعمال الصادر من وزارة القوى العاملة وبما يضمن
          حسن سير العمل وزيادة الإنتاجية والكفاءة
        </p>
      </blockquote>
    </div>
    <div class="card-acc">
      <img class="card-img" src="../assets/images/card/time.jpg" alt="" />
      <blockquote class="testimonial">
        <p class="testimonial-text">
          منفذي الخدمة: موظفين متخصصين في مجال تأسيس الشركات والخدمات الأدرية
          ويعملون تحت إشراف مدير المكتب والشريك المسئول. لماذا نحن في هذا
          الخدمة: التأسيس في خلال ٧٢ ساعة من تاريخ تقديم واستكمال الاوراق
          المطلوبة التأسيس بأقل المصاريف الحكومية وغير الحكومية بالاختيار الأمثل
          لنوع الشركة وفقا لأفكار وأهداف المؤسسين والشركاء
        </p>
        <!-- <p class="testimonial-author">IFAC</p>
      <p class="testimonial-job">Senior Accountant</p> -->
      </blockquote>
    </div>

    <div class="card-acc">
      <img class="card-img" src="../assets/images/card/time.jpg" alt="" />
      <blockquote class="testimonial">
        <p class="testimonial-text">
          منفذي الخدمة: موظفين متخصصين في مجال تأسيس الشركات والخدمات الأدرية
          ويعملون تحت إشراف مدير المكتب والشريك المسئول. لماذا نحن في هذا
          الخدمة: التأسيس في خلال ٧٢ ساعة من تاريخ تقديم واستكمال الاوراق
          المطلوبة التأسيس بأقل المصاريف الحكومية وغير الحكومية بالاختيار الأمثل
          لنوع الشركة وفقا لأفكار وأهداف المؤسسين والشركاء
        </p>
        <!-- <p class="testimonial-author">IFAC</p>
      <p class="testimonial-job">Senior Accountant</p> -->
      </blockquote>
    </div>
  </div>
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci cum
  consequuntur maxime similique, vitae laudantium nesciunt reprehenderit ullam
  ut veritatis corporis quae velit rerum, ipsam iusto facilis officiis
  architecto!
</div>
<div class="determin-max-size">
  <div class="row" id="card-for-mobile">
    <div class="d-flex justify-content-center col-sm-6 col-12">
      <div class="card-mobile">
        <img
          src="../assets/images/card/time.jpg"
          class="card-img-mobile"
          alt="..."
        />

        <div class="d-flex justify-content-end">
          <h5 class="card-title" style="font-size: 0.3rem; margin: 0.5rem">
            تأسيس الشركات
          </h5>
        </div>
        <div class="d-flex align-content-end">
          <p class="card-text mx-2 justify-content-end">
            منفذي الخدمة: موظفين متخصصين في مجال تأسيس الشركات والخدمات الأدرية
            ويعملون تحت إشراف مدير المكتب والشريك المسئول. لماذا نحن في هذا
            الخدمة: التأسيس في خلال
            <strong style="color: var(--blue); font-weight: bolder">٧٢</strong>
            ساعة من تاريخ تقديم واستكمال الاوراق المطلوبة التأسيس بأقل المصاريف
            الحكومية وغير الحكومية بالاختيار الأمثل لنوع الشركة وفقا لأفكار
            وأهداف المؤسسين والشركاء
          </p>
        </div>

        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>

    <div class="d-flex justify-content-center col-sm-6 col-12">
      <div class="card-mobile">
        <img
          src="../assets/images/card/time.jpg"
          class="card-img-mobile"
          alt="..."
        />

        <div class="d-flex justify-content-end col-12">
          <h5 class="card-title" style="font-size: 0.3rem; margin: 0.5rem">
            تأسيس الشركات
          </h5>
        </div>
        <div class="d-flex align-content-end">
          <p class="card-text mx-2 justify-content-end">
            منفذي الخدمة: موظفين متخصصين في مجال تأسيس الشركات والخدمات الأدرية
            ويعملون تحت إشراف مدير المكتب والشريك المسئول. لماذا نحن في هذا
            الخدمة: التأسيس في خلال
            <strong style="color: var(--blue); font-weight: bolder">٧٢</strong>
            ساعة من تاريخ تقديم واستكمال الاوراق المطلوبة التأسيس بأقل المصاريف
            الحكومية وغير الحكومية بالاختيار الأمثل لنوع الشركة وفقا لأفكار
            وأهداف المؤسسين والشركاء
          </p>
        </div>

        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>
