.main {
  padding-bottom: 5rem;
}
.main-header {
  margin-bottom: 4rem;
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-size: 2.5rem;
  color: var(--blue);
  position: relative;
}
.main-header::after {
  content: "";
  width: 600px;
  height: 3px;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;

  background-color: var(--orange);
  position: absolute;
}
@media (max-width: 638px) {
  .main-header {
    font-size: 2rem;
  }
  .main-header::after {
    width: 500px;
  }
}
@media (max-width: 526px) {
  .main-header {
    font-size: 1.6rem;
    font-weight: 800;
  }
  .main-header::after {
    width: 450px;
  }
}
@media (max-width: 470px) {
  .main-header {
    font-size: 1.4rem;
    font-weight: 800;
  }
  .main-header::after {
    width: 400px;
  }
}
@media (max-width: 400px) {
  .main-header {
    font-size: 1.2rem;
    font-weight: 800;
  }
  .main-header::after {
    width: 330px;
  }
}
