.contact-word {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cairo", sans-serif;
}
.contact {
  margin-left: 1rem;
  margin-bottom: 0;
}
.contact-icon svg {
  font-size: 50rem;
}
.main {
  margin-top: 1rem;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.form input {
  margin-bottom: 1rem;
  background-color: rgba(255, 166, 0, 0.42);
  border: 1px solid rgb(255, 174, 0);
}
.form label {
  direction: rtl;
  margin: 0 0.5rem 0.5rem;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
}
.myform {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
}
.myform input {
  border: 1px solid var(--orange);
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: var(--blue);
  font-size: 1em;
}
.myform span {
  position: absolute;
  right: 10px;
  top: 8px;
  color: var(--blue);
  opacity: 0.7;
  pointer-events: none;
  font-size: 1.2em;
  transition: 0.7s ease;
  font-family: "Open Sans", sans-serif;
}

.myform input:focus ~ span {
  color: var(--orange);
  transform: translate(-15px, -20px);
  padding: 0 15px;
  background: var(--orange);
  color: var(--blue);
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  opacity: 1;
  color: antiquewhite;
}
.myform input:valid,
.myform input:focus {
  border: 1px solid var(--blue);
}
.msg-container {
  display: flex;
  justify-content: end;
  position: relative;
}
.msg {
  width: 100%;
  margin: 1rem;
  border: 1px solid var(--orange);
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  transition: 0.7ms ease;
}
.my-btn {
  display: flex;
  justify-content: end;
  margin-right: 1.2rem;
}
.msg-span {
  top: 0;
  position: absolute;
  right: 27px;
  top: 19px;
  color: var(--blue);
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  opacity: 0.7;
  transition: 0.6s ease;
}
.msg-container textarea:valid ~ span,
.msg-container textarea:focus ~ span {
  color: var(--orange);
  transform: translate(-15px, -16px);
  padding: 0 15px;
  background: var(--orange);
  color: var(--blue);
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  opacity: 1;
  font-size: 1.2em;
  color: aliceblue;
}
.send-btn {
  width: 100%;
  font-family: "Cairo", sans-serif;

  color: black;
  font-weight: 900;
  margin-left: 1rem;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 1rem auto;
}
.main-container h2 {
  direction: rtl;
  margin: 0;
}
div p strong {
  margin-left: 1rem;
  color: var(--orange);
}
div p {
  margin-left: 1rem;
  color: var(--orange);
  font-weight: 800;
  direction: rtl;
}
.main-content {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}
.animated_main_header {
  // display: flex;
  // justify-content: center;
}
.anim-text[data-v-e7cc1b5f] {
  margin-bottom: 3rem;
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-size: 2rem;
  color: var(--blue);
  display: inline-block;
  position: relative;
}
.anim-text[data-v-e7cc1b5f]::after {
  content: "";
  max-width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  animation: fade-e7cc1b5f 4s ease-in-out infinite;
  background-color: var(--orange);
  position: absolute;
}
.anim-text__top[data-v-e7cc1b5f] {
  position: relative;
  z-index: 1;
  display: block;
  animation: hlop-e7cc1b5f 4s ease-in-out infinite;
}
.hero__title {
  margin-top: 1rem;
  margin-bottom: 0;
}
.anim-text__bottom[data-v-e7cc1b5f] {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  animation: fade-e7cc1b5f 4s ease-in-out infinite;
}
@keyframes hlop-e7cc1b5f {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  }
  30% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  70% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  }
}
@keyframes fade-e7cc1b5f {
  0% {
    /* opacity: 0; */
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.contact-links {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
}
.contact-links i {
  font-size: 3rem;
  margin: 0 1rem;
  cursor: pointer;
  color: var(--blue);
}
.map-container {
  position: relative;
  margin-top: 1rem;
}
.map {
  width: 100%;
  height: 500px;
}
.map-details {
  border-radius: 5px;
  direction: rtl;
  top: 50px;
  right: 30px;
  padding: 1rem;
  background-color: black;
  color: #ffffff;
  z-index: 1;
  position: absolute;
}
.map-details h2 {
  color: var(--orange);
}

.contact-new {
  margin: 2rem;
}
.contact-new a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;

  overflow: hidden;
  border: 1px solid #271c3f;
  z-index: 1;
}
.contact-new a:hover::before {
  top: 0;
  z-index: 2;
}
.contact-new a:hover i {
  animation: spin;
  color: #fff;
  z-index: 5000;
  transform: rotateY(360deg);
}
.contact-new a::before {
  content: "";
  transition: 1s ease;
  position: absolute;
  top: 100%;
  left: 0;
  color: #271c3f;
  width: 100%;
  height: 100%;
  background-color: #271c3f;
  z-index: 2;
}
.contact-new a i {
  position: relative;
  color: #271c3f;
  transition: 0.5s;
  z-index: 10000;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.map-details p {
  color: rgb(229, 229, 226);
}
@media (max-width: 1200px) {
  .main {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-start: auto;
    margin: auto;
    max-width: 500px;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .animated_main_header span {
    font-size: 1.1rem;
  }
  .img-contact {
    max-height: 363px;
  }
  .map-details {
    max-width: 300px;
  }
}
@media (max-width: 900px) {
  .map-details {
    max-width: 200px;
  }
  .map-details h2 {
    font-size: 0.7rem;
  }
  .map-details p {
    font-size: 0.5rem;
    color: beige;
  }
}
@media (max-width: 640) {
  .img-contact {
    width: 100px;
    max-height: 10px;
  }
}
