<main>
  <div class="first-image">
    <div class="hold-img">
      <div class="text-context">
        <i class="fa-solid fa-coins"></i>
        <h1>مكتب محاسبى متخصص فى عمل الاقرارات الضريبية</h1>
      </div>
    </div>
    <!-- <img src="/assets/images/AboutUs/main.jpg" alt="" /> -->
  </div>
</main>
<app-finance-details></app-finance-details>
<div class="about-office">
  <h3>هدفنا</h3>
  <p>
    خدمة عملاءنا من جميع النواحى المالية الضريبية والقانونية و تقديم العديد من
    الخيارات الاقتصادية والحلول الادارية للنهوض بمستوى العملاء والمحافظة على
    استمرارية المشروعات وتنميتها بالاضافة الى توعية العملاء بالفرص الاستثمارية
    الضائعة والغير مستغلة , التى قد يجهلها العديد من اصحاب الشركات والمنشآت
    التجارية
  </p>
</div>
<div class="about-office">
  <h3>رسالتنا</h3>
  <p>
    نسعى دائما للتميز و إنجاز المهام بأعلى مستوى من الجودة والإتقان من خلال فرق
    العمل المميزة التى لديها الوعي والإدراك لأهمية العميل والتدريب الازم .. فنحن
    نطمح الى بناء علاقة مهنية قوية مع كافة عملائنا
  </p>
</div>
<div class="about-office">
  <h3>رؤيتنا</h3>
  <p>
    نسعى لأن نكون من افضل المكاتب فى تقديم الخدمات المالية والادارية لعملائنا
    على مستوى مصر و المنافسة القوية على مستوى الوطن العربى
  </p>
</div>
