main {
}
.first-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hold-img {
  border-radius: 1px;
  background-image: linear-gradient(
      to left,
      #ed710476 30%,
      rgba(0, 0, 255, 0.152)
    ),
    url(/assets/images/AboutUs/main.jpg);
  height: 640px;
  width: 150rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150rem;
  object-fit: cover;
}
.text-context {
  position: relative;
  cursor: pointer;
}
.text-context h1 {
  // top: 50%;
  // transform: translate(70%, 300%);
  padding: 15px;
  font-family: "Cairo", sans-serif;
  color: var(--orange);
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  word-break: break-word;
  font-size: 1.5rem;
  animation-delay: 500ms;
}
.text-context h1:hover {
  color: rgb(255, 255, 255);
  background-color: var(--blue);
  scale: 1.05;
  transition: 1s;
}

.about-office {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.about-office h3 {
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-weight: 800;
  position: relative;
  margin: 1rem 0;
}
.about-office h3::after {
  content: "";
  width: 92px;
  position: absolute;

  bottom: -7px;
  left: -7px;
  height: 3px;
  background-color: var(--orange);
}
.about-office p {
  direction: rtl;
  margin: 0 4rem;
  text-align: center;
  font-weight: 600;
}

// font-family: 'Bricolage Grotesque', sans-serif;
// font-family: 'Cairo', sans-serif;
// font-family: 'Noto Kufi Arabic', sans-serif;
// font-family: 'Noto Sans Arabic', sans-serif;
// font-family: 'Open Sans', sans-serif;
