<main>
  <div class="determin-max-size">
    <div class="row">
      <!--beg card for mobile -->

      <div
        class="d-flex justify-content-center col-lg-6 col-md-12 col-sm-12 col-12"
      >
        <div class="about-us">
          <img
            src="../assets/images/AboutUs/about-us.png"
            class="card-img-mobile"
            alt="..."
          />
        </div>
      </div>

      <div
        class="d-flex justify-content-center col-lg-6 col-md-12 col-sm-12 col-12"
      >
        <div class="card-mobile">
          <div class="">
            <h1 class="">
              مكتب المحاسب القانونى / رياض جمال عبدالحفيظ شقراني - للمحاسبة
            </h1>
            <p class="card-text mx-2 mt-1">
              مكتب المحاسب القانونى / رياض جمال عبدالحفيظ شقراني - للمحاسبة
              والمراجعة والخدمات الضريبية – منشأة مهنية لخدمة وتنمية الشركات
              الصغيرة والمتوسطة , نقوم بتقديم العديد من الخدمات اللازمة
              والضرورية للمحافظة على الشركات الناشئة وتنميتها ومساعدة الملاك
              ومتخذى القرار داخل هذه الشركات على العمل فى السوق المصرى مع مراعاة
              الالتزام بكافة القوانين والتعليمات الضريبية او التجارية او التى
              تنظم اجراءات الاستثمار فى مصر بالاضافة الى الاهتمام بكافة المهام
              المالية والمحاسبية للشركات , حيث اننا نحرص دائما على ان نزيح عن
              عملائنا التوتر والارتباك والوقت المقترن بتحمل المهام المحاسبية
              والضريبية وتخليص الاجراءات الحكومية , وبذلك يمكنك التركيز على
              إدارة وتنمية أعمالك
            </p>
            <p class="our-goal mx-2">
              <strong style="color: var(--blue)" class="mx-1"> هدفنا</strong>
              خدمة عملاءنا من جميع النواحى المالية الضريبية والقانونية و تقديم
              العديد من الخيارات الاقتصادية والحلول الادارية للنهوض بمستوى
              العملاء والمحافظة على استمرارية المشروعات وتنميتها بالاضافة الى
              توعية العملاء بالفرص الاستثمارية الضائعة والغير مستغلة , التى قد
              يجهلها العديد من اصحاب الشركات والمنشآت التجارية
            </p>
            <p class="our-goal mx-2">
              <strong style="color: var(--blue)" class="mx-1"> رؤيتنا</strong>
              نسعى لأن نكون من افضل المكاتب فى تقديم الخدمات المالية والادارية
              لعملائنا على مستوى مصر و المنافسة القوية على مستوى الوطن العربى
            </p>
            <p class="our-goal mx-2">
              <strong style="color: var(--blue)" class="mx-1"> رسالتنا</strong>
              نسعى دائما للتميز و إنجاز المهام بأعلى مستوى من الجودة والإتقان من
              خلال فرق العمل المميزة التى لديها الوعي والإدراك لأهمية العميل
              والتدريب الازم .. فنحن نطمح الى بناء علاقة مهنية قوية مع كافة
              عملائنا
            </p>
          </div>

          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>

  <!--  our goal-->
</main>
