<h2 class="services">تقديم الخدمات المالية والمحاسبية</h2>

<section class="main-content-for-headings show">
  <div class="show-all-content">
    <div class="card">
      <img src="/assets/images/AboutUs/aboutOne.jpg" alt="" />
      <div class="intro">
        <h2>تأسيس الشركات</h2>
        <p class="explain">
          تأسيس الشركات والمنشأة الفردية بأنواعها وحسب الكيان القانوني لها ،
          شركات أشخاص- تضامن وتوصية بسيطة ، شركات الأموال – شركات مساهمة، شركات
          ذات مسئولية محدودة ، شركات الشخص الواحد، والتوصية بالاسهم
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/AboutUs/aboutTwo.jpg" alt="" />
      <div class="intro">
        <h2>إعداد الميزانيات والموازنات</h2>
        <p class="explain">
          خدمة مسك الدفاتر المحاسبية وفقا للقوانين المنظمة لها. تصميم الدليل
          المحاسبي وفقا لنشاط الشركات وبما يتفق مع المتطلبات من التقارير
          المطلوبة من الادارة. إعداد القيود المحاسبية للعمليات المالية وفقا
          لتبويب المعايير المحاسبية المصرية
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/AboutUs/aboutThree.jpg" alt="" />
      <div class="intro">
        <h2>حسابات التكاليف</h2>
        <p class="explain">
          اعداد نظم التكاليف الصناعية للمصانع ونظم التكاليف لشركات المقاولات
          اعداد تقارير تكاليف الانتاج التام خلال مدة والانتاج تحت التشغيل اعداد
          تقارير الاداء وتحليل فروق التكاليف
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/AboutUs/auditing.jpg" alt="" />
      <div class="intro">
        <h2>التدقيق والمراجعة</h2>
        <p class="explain">
          تأدية المهنة وفقا للمواد المنظمة لعمل مراقب الحسابات بالقانون رقم ١٥٩
          لسنة ١٩٨١ ولائحته التنفيذية. تأدية المهنة وفقا لمتطلبات معايير
          المراجعة المصرية والدولية. تأدية أعمال المراجعة للتأكد من ان القوائم
          المالية أعدت وفقا لمعايير المحاسبة المصرية.
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/AboutUs/studies.jpg" alt="" />
      <div class="intro">
        <h2>دراسات الجدوى الاقتصادية</h2>
        <p class="explain">
          إعداد دراسات الجدوى الاقتصادية للمشروعات والفرص الاستثمارية المتاحة
          بمصر من قاعدة البيانات المتاحة بالمكتب وتحديد أفضل هذه الفرص من حيث
          عرض عائدات الاستثمار لهذه المشروعات.
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/AboutUs/Tax.jpg" alt="" />
      <div class="intro">
        <h2>الخدمات الضريبية</h2>
        <p class="explain">
          تأدية الخدمة وفقا لقوانين الضرائب والتعديلات واللوائح التنفيذية
          والتعليمات وتشمل قوانين (ضرائب الدخل - ضرائب المبيعات - ضريبة الدمغة).
          متابعة تطبيق النظام الضريبي مع الادارات المختصة بالشركات.
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/AboutUs/economy-growth.jpg" alt="" />
      <div class="intro">
        <h2>الاستشارات المالية</h2>
        <p class="explain">
          نساعد في مجال تخطيط ووضع الميزانية بهدف مساعدة الشركة على تطبيق
          القواعد والأنظمة والقوانين السائدة تجميع البيانات والمعلومات لتحضير،
          تقديم النصائح ووضع تصورات دقيقة للعمليات والمخططات المالية المستقبلية
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/AboutUs/Manager.jpg" alt="" />
      <div class="intro">
        <h2>الاستشارات الإدارية</h2>
        <p class="explain">
          إجراء البحوث وجمع البيانات لفهم المنظمة. إجراء التحليل ومقابلة موظفي
          العميل وفريق الإدارة. إدارة مجموعات التركيز وتسهيل ورش العمل. إعداد
          مقترحات الأعمال والعروض التقديمية.
        </p>
      </div>
    </div>
  </div>
</section>
