/* You can add global styles to this file, and also import other style files */
 :root {
    --blue: #16133f;
    --orange:#ed7204;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body{
    // background-color: var(--blue) ;
    font-family: 'Noto Sans Arabic', sans-serif;
    height: 5000vh;
    overflow-y: hidden;
    ::-moz-selection { /* Code for Firefox */
      color: white;
      background:var(--orange);
    }
    
    ::selection {
      color: white;
      background:var(--orange)
    }
  }