<div *ngIf="receivedId === 1">
  <h2 class="text-center">تأسيس الشركات</h2>

  <div class="d-flex">
    <div class="content col-9 my-5">
      <ol>
        <li>
          تأسيس الشركات والمنشأة الفردية بأنواعها وحسب الكيان القانوني لها ،
          شركات أشخاص- تضامن وتوصية بسيطة ، شركات الأموال – شركات مساهمة، شركات
          ذات مسئولية محدودة ، شركات الشخص الواحد، والتوصية بالاسهم تحت جميع
          القوانين واللواح المعمول بها في جمهورية مصر العربية.
        </li>
        <li>
          تأسيس وتعديل كافة انواع الشركات بكافة أشكالها القانونية منشئات فردية -
          شركات أشخاص - شركات اموال - شركات مهنية - مكاتب تمثيل لشركات أجنبية
          حتى استلام السجل التجاري واكتساب الشركة الشخصية الاعتبارية وكذلك كافة
          التعديلات للنظام الأساسي والسجل التجاري للشركات أثناء عمر الشركة.
        </li>
        <li>
          إعداد نظام التأمينات الاجتماعية بما يتناسب مع القوانين الصادرة وبما
          يضمن حقوق العاملين والشركة.
        </li>
        <li>
          تحويل الشركات وتغيير الشكل القانوني من شركات الأشخاص إلي شركات أموال،
          شركات ذات مسئوليه محدودة الى شركات مساهمة. اندماج الشركات وتقسيم
          الشركات.
        </li>
        <li>
          يقبل المكتب أعمال التصفية للشركات حتى محو السجل التجاري بتعيين ممثلي
          المكتب مصفيين قانونيين.
        </li>
        <li>
          إعداد اللوائح الإدارية ولائحة الجزاءات والخصومات والثواب ولائحة النظام
          الأساسي للشئون الإدارية للشركات بما يتوافق مع قانون العمل والعمال
          الصادر من وزارة القوى العاملة وبما يضمن حسن سير العمل وزيادة الإنتاجية
          والكفاءة.
        </li>
        <li>
          إعداد التوصيف الوظيفي المتكامل للعاملين وفقا للهياكل التنظيمية للشركات
          ونشاط كل شركة والهدف من كل ادارة من الادارات لها. إعداد نظام التأمينات
          الاجتماعية بما يتناسب مع القوانين الصادرة وبما يضمن حقوق العاملين
          والشركة.
        </li>
        <li>
          إعداد ووضع سياسات مختلفة تناسب كل شركة لتقييم اداء الموظفين وربطها
          بالترقيات الوظيفية والمادية.
        </li>
        <li>
          تمثيل الشركات أمام الهيئة القومية للتأمينات الاجتماعية - الشهر العقاري
          - الهيئة العامة للاستثمار - الهيئة العامة للرقابة المالية - مكاتب
          العمل - الهيئة العامة للصادرات والواردات - جهات التراخيص المختلفة
          لاستخراج مزاولة انشطة الشركات - إدارة الجوازات - ...إلخ من الجهات
          الحكومية وغير الحكومية التي تتعامل معها الشركات
        </li>
        <li>
          القيام نيابة عن الشركات والعملاء بالإعلان عن الوظائف الشاغرة لها، عمل
          المقابلات ووضع الاختبارات اللازمة لكل وظيفة مطلوبة، وترشيح الموظفين
          المناسبين من المتقدمين للعمل بالشركة وفقا للشروط الموضوعة من قبلها،
          وذلك لسابق تعاملنا مع مكاتب وشركات توظيف وايضا وجود خبرات مختلفة من
          موظفي المكتب للقيام بهذا العمل واختيار الأنسب للشركة، مع مساعدة
          الشركات في توفير الوظائف بالقطاع المالي عن طريق قاعدة البيانات للوظائف
          المالية بالمكتب.
        </li>
        <li>
          توقيت تقديم الخدمة: عند الطلب وبصفه دوريه منفذي الخدمة: موظفين متخصصين
          في مجال تأسيس الشركات والخدمات الأدرية ويعملون تحت إشراف مدير المكتب
          والشريك المسئول. لماذا نحن في هذا الخدمة: التأسيس في خلال ٧٢ ساعة من
          تاريخ تقديم واستكمال الاوراق المطلوبة التأسيس بأقل المصاريف الحكومية
          وغير الحكومية بالاختيار الأمثل لنوع الشركة وفقا لأفكار وأهداف المؤسسين
          والشركاء.
        </li>
        <li>
          عقد ورشة عمل بحضور المؤسسين والشركاء لعرض أفضل انواع وأنشطة الشركات
          وفقا لرغبة وأهداف الشركاء والمؤسسين. يتم عرض فرص للمشروعات المتاحة
          بمصر، وتحديد الأهمية والميزة النسبية لكل مشروع من المشروعات على
          المؤسسين والشركاء فى ورشة العمل التحضيرية لتوفير فرص أمنة للاستثمار.
        </li>
        <li>
          الأمانة فى عرض الفرص الأفضل والشكل القانوني للشركة الذي يتناسب مع
          أغراض التأسيس، وكذلك الأمانة فى عرض المصروفات الحكومية وغير الحكومية
          مع التأسيس وحتى الانتهاء منه.
        </li>
      </ol>
    </div>
  </div>
</div>
<div *ngIf="receivedId === 2">
  <h2 class="text-center">الحسابات المالية</h2>

  <div class="d-flex">
    <div class="content col-9 my-5">
      <ol>
        <li>خدمة مسك الدفاتر المحاسبية وفقا للقوانين المنظمة لها.</li>
        <li>
          تصميم الدليل المحاسبي وفقا لنشاط الشركات وبما يتفق مع المتطلبات من
          التقارير المطلوبة من الادارة. إعداد القيود المحاسبية للعمليات المالية
          وفقا لتبويب المعايير المحاسبية المصرية.
        </li>
        <li>
          تنفيذ وتحديث الدورات والنماذج المستندية المتفقة مع نظام الحسابات
          المتبع وتحقيقا للرقابة الداخلية.
        </li>
        <li>
          إدخال القيود المحاسبية ببرامج الحاسب الألى والدفاتر اليدوية وفقا
          للدليل المحاسبي والتقارير المالية.
        </li>
        <li>
          تقديم التقارير المالية الدورية للإدارة (موازين المراجعة - القوائم
          المالية - تقارير أخرى).
        </li>
        <li>
          تطبيق القوانين الضريبية على المستندات المؤيدة للصرف والاستحقاقات
          والاستقطاعات الضريبية.
        </li>
        <li>حساب ومتابعة السدادات الضريبية والتأمينية الشهرية.</li>
        <li>
          منفذي الخدمة: محاسبين متخصصين مدربين ومؤهلين ويعملون تحت إشراف رئيس
          مجموعة محاسبة ومراجعة.
        </li>
        <li>
          اعداد الميزانيات السنوية شاملة جميع القوائم المالية المطلوبة والضرورية
          (قائمة الدخل والارباح والخسائر – قائمة المركز المالي – قائمة التدفقات
          النقدية – قائمة التغيرات في حقوق المليكة – وجميع التقارير الأخرى
          المطلوبة للتعبير عن الموقف المالي للشركة.
        </li>
      </ol>
    </div>
  </div>
</div>
<div *ngIf="receivedId === 3">
  <h2 class="text-center">حسابات التكاليف</h2>

  <div class="d-flex">
    <div class="content col-9 my-5">
      <ol>
        <li>
          اعداد نظم التكاليف الصناعية للمصانع ونظم التكاليف لشركات المقاولات.
        </li>
        <li>
          اعداد تقارير تكاليف الانتاج التام خلال مدة والانتاج تحت التشغيل.
        </li>
        <li>اعداد تقارير الاداء وتحليل فروق التكاليف.</li>
        <li>
          حساب نقطة التعادل التي عندها يتحقق تغطيه كافة المصروفات والتكاليف واي
          وحده انتاج اخري يبدا المصنع في تحقيق ربح نسبي لكل منتج ولكل منتجات
          الشركة.
        </li>
        <li>تدريب محاسبين التكاليف في الشركة.</li>
        <li>
          - التعامل مع جميع أنظمة الحسابات ERP وغيرها من البرامج من تكويد
          الحسابات والاصناف ورفعها ومراجعة التقراير الصادرة منها.
        </li>
      </ol>
    </div>
  </div>
</div>
<div *ngIf="receivedId === 4">
  <h2 class="text-center">التدقيق والمراجعة</h2>

  <div class="d-flex">
    <div class="content col-9 my-5">
      <ol>
        <li>
          تأدية المهنة وفقا للمواد المنظمة لعمل مراقب الحسابات بالقانون رقم ١٥٩
          لسنة ١٩٨١ ولائحته التنفيذية.
        </li>
        <li>تأدية المهنة وفقا لمتطلبات معايير المراجعة المصرية والدولية.</li>
        <li>
          تأدية أعمال المراجعة للتأكد من ان القوائم المالية أعدت وفقا لمعايير
          المحاسبة المصرية.
        </li>
        <li>
          تقديم خطاب إدارة به الملاحظات الموجود خلال فترة المراجعة وأثر هذه
          الملاحظات ومؤيدة بالتوصيات الخاصة بحل الملاحظات وفقا لمعايير المراجعة
          والمحاسبة.
        </li>
        <li>توقيت أداء الخدمة: ربع سنوية – نصف سنوية – سنوية – دوريه.</li>
        <li>
          منفذي الخدمة: مراجعين متخصصين في مجال المراجعة الخارجية أصحاب شهادات
          مهنية
        </li>
        <li>
          أداء خدمة المراجعة الداخلية وفقا لمعايير المراجعة المصرية وإرشاداتها.
        </li>
        <li>
          أداء خدمة المراجعة الداخلية وفقا لدليل العمل والإجراءات الداخلية
          للشركة.
        </li>
        <li>
          أداء خدمة المراجعة الداخلية وفقا للنظم واللوائح والإجراءات المتبعة
          داخل الشركة.
        </li>
        <li>
          أداء خدمة المراجعة الداخلية يتم وفقا لأخر تحديث في نظام التكاليف
          ومراقبة المخزون.
        </li>
        <li>
          أداء خدمة المراجعة يتم وفقا للدورات والنماذج المستندية المطبقة
          بالشركة.
        </li>
        <li>
          أداء خدمة المراجعة الداخلية للتأكد من تطبيق نظام الرقابة الداخلية على
          كل العمليات المالية.
        </li>

        <li>
          أداء خدمة المراجعة الداخلية وفقا للنظم واللوائح والإجراءات المتبعة
          داخل الشركة.
        </li>
        <li>أداء خدمة المراجعة الداخلية لإحكام الرقابة على المخزون والأصول.</li>
        <li>
          أداء خدمة المراجعة الداخلية لخدمة أهداف الشركة ماليا وتنظيميا
          واقتصاديا.
        </li>
        <li>
          أداء خدمة المراجعة الداخلية لحماية الشركة من الاختلاسات المالية وتجنب
          القصور وإقفال الثغرات التي تؤدى الى مخاطر عالية تؤدى الى اختلاسات
          وخسائر مالية.
        </li>
        <li>
          أداء خدمة المراجعة الداخلية لمساعدة العاملين بالإدارة المالية للشركات
          في التوجيه والتبويب المحاسبي وفقا لمعايير المحاسبة المصرية والدولية.
        </li>
        <li>
          أداء خدمة المراجعة الداخلية لمساعدة العاملين بالإدارة المالية في
          استخراج التقارير المالية الدورية والسنوية.
        </li>
        <li>
          أداء المراجعة الداخلية للمشاركة ومساعدة الإدارة المالية في تجنب
          الملاحظات التي يبديها مكتب مراقب الحسابات.
        </li>
        <li>
          مكان وتوقيت تنفيذ الخدمة: مقر الشركة والعمل بصفه (يومية – شهرية – ربع
          سنوية – نصف سنوية)
        </li>
        <li>
          فحص السجلات المالية للمؤسسة وتقييم ما إذا كانت تلك البيانات معروضة
          بشكل عادل وفقا للمعايير الدولية أم لا وتقديم النتائج التي توصل إليها.
          الإبلاغ عن أي تناقضات أو أخطاء في البيانات
        </li>
      </ol>
    </div>
  </div>
</div>
<div *ngIf="receivedId === 5">
  <h2 class="text-center economy">دراسات الجدوى الاقتصادية</h2>

  <div class="d-flex">
    <div class="content col-9 my-5">
      <ol>
        <li>
          إعداد دراسات الجدوى الاقتصادية للمشروعات والفرص الاستثمارية المتاحة
          بمصر من قاعدة البيانات المتاحة بالمكتب وتحديد أفضل هذه الفرص من حيث
          عرض عائدات الاستثمار لهذه المشروعات.
        </li>
        <li>
          تقديم الاستشارات المالية في مجال إعداد الأسس والمعايير اللازمة لتحديد
          القيمة العادلة للشركة باستخدام الطرق المتبعة محليا وعالميا للتقييم
          لمساعدة الشركات في اتخاذ القرارات سوآءا بالاندماج او زيادة رأس المال
          والتوسعات والحصول على تسهيلات ائتمانية من البنوك.
        </li>
        <li>
          تأهيل الشركات الصغيرة والمتوسطة ماليا وإداريا وتنظيميا تمهيدا لتحويلها
          لكيان قانوني أعلي - شركات أموال- ولتداول أسهما فى بورصة النيل. إعداد
          برامج الحوكمة للشركات العائلية أو شبة العائلية وفقا لمعايير الحوكمة
          الصادرة من وزارة الاستثمار، الهيئة العامة للرقابة المالية.
        </li>
        <li>
          تأهيل الشركات ماليا وإداريا وتنظيميا لتطبيق انظمة الأيزو والجودة.
        </li>
        <li>
          مزاولة أعمال الخبرة والتثمين والمزادات والتقييم للآلات والمعدات
          والتقييم العقاري.
        </li>
      </ol>
    </div>
  </div>
</div>
<div *ngIf="receivedId === 6">
  <h2 class="text-center">الخدمات الضريبية</h2>

  <div class="d-flex">
    <div class="content col-9 my-5">
      <ol>
        <li>
          تأدية الخدمة وفقا لقوانين الضرائب والتعديلات واللوائح التنفيذية
          والتعليمات وتشمل قوانين (ضرائب الدخل - ضرائب المبيعات - ضريبة الدمغة).
        </li>
        <li>متابعة تطبيق النظام الضريبي مع الادارات المختصة بالشركات.</li>
        <li>
          تقديم النصيحة والاستفسارات الضريبية المختلفة فى تطبيق القوانين
          الضريبية عند طلبها.
        </li>
        <li>
          إرسال التعليمات والكتب الدورية الصادرة بمصلحة الضرائب الى الشركات فور
          صدورها إعداد ندوات تثقيفية لأفراد المنظومة الضريبية بالشركات.
        </li>

        <li>
          إعداد الإقرار الضريبي السنوي واعتماده من المستشار الضريبي بالمكتب.
        </li>
        <li>
          مراجعة النماذج الضريبية والإقرارات الضريبية الدورية للشركات قبل
          إرسالها لمصلحة الضرائب.
        </li>
        <li>
          تمثيل الشركات امام مصلحة الضرائب المصرية بكافة مأمورياتها وشعبها
          الضريبية المختلفة.
        </li>
        <li>تجهيز البيانات والمعلومات اللازمة للفحص الضريبي.</li>
        <li>
          حضور الفحص الضريبي وفقا لتعليمات الفحص والقوانين الضريبية مع الحصول
          علي افضل النتائج مع الفحص الضريبي. حضور اللجان الضريبية الداخلية -
          لجان الطعن.
        </li>
        <li>
          تمثيل الشركات امام المحاكم الاقتصادية والمدنية والتجارية ومكاتب الخبرة
          الحسابية التابعة لوزارة العدل وذلك في حالة وجود دعاوى قضائية مع مصلحة
          الضرائب المصرية ووزارة المالية، مع تجهيز مذكرات الدفاع والمستندات التي
          تؤيد وجهة نظر الشركة، بمساعدة خبراء قانونيين متخصصين في هذه القضايا.
        </li>
        <li>
          منفذي الخدمة: مراجعين ضرائب متخصصين في مجال الضرائب أصحاب شهادات مهنية
          وابحاث مختلفة في موضوعات ضريبية متنوعة، حاصلين على دراسات ودورات
          تدريبية داخلية وخارجية في مهنة الضرائب ويعملون تحت إشراف مدير ادارة
          الضرائب والشريك بالمكتب.
        </li>
        <li>
          لماذا نحن في هذه الخدمة: وجود شبكة علاقات قوية مع كافة المأموريات
          الضريبية لسابق خبراتنا وإنجازاتنا في مجال الضرائب خلال تاريخ مكتبنا
          الطويل الذي يمتد الى ٢٤ عاما في تقديم خدمات المراجعة والضرائب.
        </li>
        <li>
          يمكننا ان ندير الملف الضريبي بالكامل علي منظومة الفاتورة الالكترونية
          البروتال ومنظومة الاقرارات الضريبية (ق.مضافة وعامة وكسب عمل وخصم تحت
          الحساب الضريبة) بالكامل من خلال المكتب مباشرة عن طريق اصدار الفواتير
          واشعارات الخصم ورفع الفواتير علي بوابة الاقرارات الضريبية وغيرها من
          المهام المتعلقة بهذا الشأن
        </li>
      </ol>
    </div>
  </div>
</div>
<div *ngIf="receivedId === 7">
  <h2 class="text-center">الاستشارات المالية</h2>

  <div class="d-flex">
    <div class="content col-9 my-5">
      <ol>
        <li>
          نساعد في مجال تخطيط ووضع الميزانية بهدف مساعدة الشركة على تطبيق
          القواعد والأنظمة والقوانين السائدة.
        </li>
        <li>
          تجميع البيانات والمعلومات لتحضير، تقديم النصائح ووضع تصورات دقيقة
          للعمليات والمخططات المالية المستقبلية.
        </li>
        <li>
          تحليل وتفسير المعلومات المالية لدراسة المتغيرات المتعددة، إعادة النظر
          فيها، وإدارتها، بهدف تسهيل عملية اتخاذ القرارات.
        </li>
        <li>
          نعمل على إصدار التقارير الفعالة ويطور العمليات، بما ينسجم مع السياسات
          والأنظمة الموضوعة.
        </li>
        <li>
          توجيه ويقدم النصائح حول الاستثمارات، واستئجار الأصول، ادخار المال،
          التخطيط الضريبي إلى جانب التقاعد والتخطيط للممتلكات والإرث.
        </li>
        <li>تحليل المخاطر المالية التي من المحتمل أن يمر بها العمل الريادي</li>
        <li>
          نعمل على تطوير الاستراتيجيات المالية، وتوجيه العميل إلى وضع الأهداف.
        </li>
        <li>
          ضع الأهداف التي تتوافق مع الوضع من خلال إيجاد باقات وخطط مميزة
          وملائمة.
        </li>
        <li>
          مراقبة الوضع الاقتصادي القائم على رصد التغيرات الحاصلة في الميزانية
          وظروف وأوضاع الحياة تحليل النتائج التي تقدمها الخطط المالية.
        </li>
        <li>
          النصح بالتغييرات في الأماكن التي يجب إجراء تغييرات فيها على الأهداف
          والخطط.
        </li>
      </ol>
    </div>
  </div>
</div>
<div *ngIf="receivedId === 8">
  <h2 class="text-center">الاستشارات الإدارية</h2>

  <div class="d-flex">
    <div class="content col-9 my-5">
      <ol>
        <li>إجراء البحوث وجمع البيانات لفهم المنظمة.</li>
        <li>إجراء التحليل ومقابلة موظفي العميل وفريق الإدارة.</li>
        <li>إدارة مجموعات التركيز وتسهيل ورش العمل.</li>
        <li>
          نعمل على إصدار التقارير الفعالة ويطور العمليات، بما ينسجم مع السياسات
          والأنظمة الموضوعة.
        </li>
        <li>إعداد مقترحات الأعمال والعروض التقديمية.</li>
        <li>
          نعمل على تطوير الاستراتيجيات المالية، وتوجيه العميل إلى وضع الأهداف.
        </li>
        <li>تحديد القضايا وشكل الفرضيات والحلول.</li>
        <li>تقديم النتائج والتوصيات للعملاء.</li>
        <li>
          تنفيذ التوصيات والحلول والتأكد من حصول العميل على المساعدة اللازمة.
        </li>
        <li>
          التواصل مع العملاء لاطلاعهم على التقدم المحرز واتخاذ القرارات اللازمة.
        </li>
      </ol>
    </div>
  </div>
</div>
