<div class="reveal" id="accounting-services ">
  <div class="row mx-2 mb-5 d-flex justify-content-around" id="card-parent">
    <div class="card-acc">
      <img
        class="card-img"
        src="../assets/images/card/Grow-Money.jpg"
        alt="صورة ملهمة"
      />
      <blockquote class="testimonial">
        <h2>تأسيس شركات متنوعة</h2>
        <p class="testimonial-text">
          يمكننا تأسيس الشركات والمنشآت الفردية بأنواعها المختلفة وفقًا للكيان
          القانوني لكل منها، بدءًا من شركات الأشخاص - التعاون والتوصية البسيطة -
          وصولاً إلى شركات المال - شركات المساهمة - وشركات الذات المسئولية
          المحدودة، بالإضافة إلى توصية الأسهم بمطابقة جميع القوانين والإرشادات
          السارية في جمهورية مصر العربية.
        </p>
      </blockquote>
    </div>

    <div class="card-acc">
      <img
        class="card-img"
        src="../assets/images/card/foundation.jpg"
        alt="صورة جميلة"
      />
      <blockquote class="testimonial">
        <h2>تأسيس وتعديل الشركات</h2>
        <p class="testimonial-text">
          يمكننا تأسيس وتعديل مختلف أشكال الشركات بكافة الأشكال القانونية، بدءًا
          من المنشآت الفردية وصولاً إلى شركات الأشخاص، شركات المال، شركات المهن،
          ومكاتب الوكالة للشركات الأجنبية، بما في ذلك الحصول على السجل التجاري
          وكسب الشركة الشخصية الاعتبارية بالإضافة إلى جميع التعديلات للنظام
        </p>
        <strong>.</strong>
      </blockquote>
    </div>
    <div class="card-acc">
      <img
        class="card-img"
        src="../assets/images/card/liquidating.png"
        alt="صورة جميلة"
      />
      <blockquote class="testimonial">
        <h2>إنهاء التراخيص وتسجيل العلامات التجارية</h2>
        <p class="testimonial-text">
          يمكننا إنهاء التراخيص للمصانع والشركات وتنفيذ أنشطتها وفقًا للوائح
          والقوانين المعمول بها، بالإضافة إلى تسجيل العلامات التجارية وحقوق
          الملكية الفكرية والتسجيل في الفاتورة الإلكترونية وتسجيل الشركات كمصدر
          أو مستورد في هيئة الصادرات والواردات.
        </p>
      </blockquote>
    </div>
    <div class="card-acc">
      <img
        class="card-img"
        src="../assets/images/card/office-notice.jpg"
        alt="صورة رائعة"
      />
      <blockquote class="testimonial">
        <h2>إدارة الشؤون الإدارية للشركات</h2>
        <p class="testimonial-text">
          يمكننا تقديم خدمات التصفية للشركات، بدءًا من إلغاء السجل التجاري
          وتعيين ممثلين قانونيين للتصفية. بالإضافة إلى إعداد اللوائح الإدارية
          ولوائح الجزاءات والخصومات والثواب ولائحة النظام الأساسي للشؤون
          الإدارية للشركات وفقًا لقانون العمل والعمال الصادر عن وزارة القوى
          العاملة لضمان سير العمل بسلاسة وزيادة الإنتاجية والكفاءة.
        </p>
      </blockquote>
    </div>
    <div class="card-acc">
      <img
        class="card-img"
        src="../assets/images/card/time.jpg"
        alt="صورة رائعة"
      />
      <blockquote class="testimonial">
        <h2>خدمات تأسيس الشركات الفورية</h2>
        <p class="testimonial-text" id="card-text">
          منفذي الخدمة: موظفين متخصصين في مجال تأسيس الشركات والخدمات الإدارية
          يعملون تحت إشراف مدير المكتب والشريك المسئول. لماذا نحن في هذه الخدمة:
          نقوم بتأسيس الشركات في غضون ٧٢ ساعة من تاريخ تقديم الأوراق المطلوبة
          واستكمالها، وذلك بأدنى التكاليف الحكومية وغير الحكومية من خلال اختيار
          النوع الأمثل للشركة وفقًا لأفكار وأهداف المؤسسين والشركاء.
        </p>
        <!-- <p class="testimonial-author">IFAC</p>
      <p class="testimonial-job">Senior Accountant</p> -->
      </blockquote>
    </div>
    <div class="card-acc">
      <img
        class="card-img"
        src="../assets/images/card/time.jpg"
        alt="صورة رائعة"
      />
      <blockquote class="testimonial">
        <h2>تسوية الضرائب بسهولة وفعالية</h2>
        <p class="testimonial-text" id="card-text">
          يمكننا إدارة الملف الضريبي بالكامل عبر منظومة الفاتورة الإلكترونية
          البروتال ومنظومة الإقرارات الضريبية بكل سهولة وفعالية. يشمل ذلك القيمة
          المضافة والضرائب العامة وضريبة كسب العمل وخصم التحت الحساب الضريبي،
          حيث يمكن لنا إصدار الفواتير، وإشعارات الخصم، ورفع الفواتير على بوابة
          الإقرارات الضريبية وأداء المهام الأخرى المتعلقة بهذا الشأن.
        </p>
        <!-- <p class="testimonial-author">IFAC</p>
        <p class="testimonial-job">Senior Accountant</p> -->
      </blockquote>
    </div>

    <!-- Mobile Part-->
    <div class="determin-max-size reveal">
      <div class="row" id="card-for-mobile">
        <!--beg card for mobile -->

        <div class="d-flex justify-content-center col-sm-6 col-12">
          <div class="card-mobile">
            <img
              src="../assets/images/card/time.jpg"
              class="card-img-mobile"
              alt="..."
            />

            <div class="d-flex justify-content-end">
              <h2>عنوان</h2>
            </div>
            <div class="d-flex align-content-end">
              <p class="card-text mx-2 justify-content-end" id="card-text">
                منفذي الخدمة: موظفين متخصصين في مجال تأسيس الشركات والخدمات
                الأدرية ويعملون تحت إشراف مدير المكتب والشريك المسئول. لماذا نحن
                في هذا الخدمة: التأسيس في خلال
                <strong style="color: var(--blue); font-weight: bolder"
                  >٧٢</strong
                >
                ساعة من تاريخ تقديم واستكمال الاوراق المطلوبة التأسيس بأقل
                المصاريف الحكومية وغير الحكومية بالاختيار الأمثل لنوع الشركة
                وفقا لأفكار وأهداف المؤسسين والشركاء
              </p>
            </div>
          </div>
        </div>
        <!--end card for mobile -->

        <!--beg card for mobile -->

        <div class="d-flex justify-content-center col-sm-6 col-12">
          <div class="card-mobile">
            <img
              src="../assets/images/card/time.jpg"
              class="card-img-mobile"
              alt="..."
            />

            <div class="d-flex justify-content-end">
              <h2>عنوان</h2>
            </div>
            <div class="d-flex align-content-end">
              <p class="card-text mx-2 justify-content-end" id="card-text">
                منفذي الخدمة: موظفين متخصصين في مجال تأسيس الشركات والخدمات
                الأدرية ويعملون تحت إشراف مدير المكتب والشريك المسئول. لماذا نحن
                في هذا الخدمة: التأسيس في خلال
                <strong style="color: var(--blue); font-weight: bolder"
                  >٧٢</strong
                >
                ساعة من تاريخ تقديم واستكمال الاوراق المطلوبة التأسيس بأقل
                المصاريف الحكومية وغير الحكومية بالاختيار الأمثل لنوع الشركة
                وفقا لأفكار وأهداف المؤسسين والشركاء
              </p>
            </div>
          </div>
        </div>
        <!--end card for mobile -->

        <!--beg card for mobile -->

        <div class="d-flex justify-content-center col-sm-6 col-12">
          <div class="card-mobile">
            <img
              src="../assets/images/card/time.jpg"
              class="card-img-mobile"
              alt="..."
            />

            <div class="d-flex justify-content-end">
              <h2>عنوان</h2>
            </div>
            <div class="d-flex align-content-end">
              <p class="card-text mx-2 justify-content-end">
                منفذي الخدمة: موظفين متخصصين في مجال تأسيس الشركات والخدمات
                الأدرية ويعملون تحت إشراف مدير المكتب والشريك المسئول. لماذا نحن
                في هذا الخدمة: التأسيس في خلال
                <strong style="color: var(--blue); font-weight: bolder"
                  >٧٢</strong
                >
                ساعة من تاريخ تقديم واستكمال الاوراق المطلوبة التأسيس بأقل
                المصاريف الحكومية وغير الحكومية بالاختيار الأمثل لنوع الشركة
                وفقا لأفكار وأهداف المؤسسين والشركاء
              </p>
            </div>
          </div>
        </div>
        <!--end card for mobile -->

        <!--beg card for mobile -->

        <div class="d-flex justify-content-center col-sm-6 col-12">
          <div class="card-mobile">
            <img
              src="../assets/images/card/office-notice.jpg"
              class="card-img-mobile"
              alt="..."
            />

            <div class="d-flex justify-content-end">
              <h2>عنوان</h2>
            </div>
            <div class="d-flex align-content-end">
              <p class="card-text mx-2 justify-content-end">
                يقبل المكتب أعمال التصفية للشركات حتى محو السجل التجاري بتعيين
                ممثلي المكتب مصفيين قانونيين. إعداد اللوائح الإدارية ولائحة
                الجزاءات والخصومات والثواب ولائحة النظام الأساسي للشئون الإدارية
                للشركات بما يتوافق مع قانون العمل والعمال الصادر من وزارة القوى
                العاملة وبما يضمن حسن سير العمل وزيادة الإنتاجية والكفاءة
              </p>
            </div>
          </div>
        </div>
        <!--end card for mobile -->

        <!--beg card for mobile -->

        <div class="d-flex justify-content-center col-sm-6 col-12">
          <div class="card-mobile">
            <img
              src="../assets/images/card/liquidating.png"
              class="card-img-mobile"
              alt="..."
            />

            <div class="d-flex justify-content-end">
              <h2>عنوان</h2>
            </div>
            <div class="d-flex align-content-end">
              <p class="card-text mx-2 justify-content-end">
                إنهاء التراخيص للمصانع والشركات وجمع الأنشطة طبقا للوائح
                والقوانين تسجل العلامات التجارية وحقوق الملكية الفكرية التسجيل
                في الفاتورة الإلكترونية التسجيل في هيئة الصادرات والواردات كمصدر
                او مستورد
              </p>
            </div>
          </div>
        </div>
        <!--end card for mobile -->
        <!--beg card for mobile -->

        <div class="d-flex justify-content-center col-sm-6 col-12">
          <div class="card-mobile">
            <img
              src="../assets/images/card/foundation.jpg"
              class="card-img-mobile"
              alt="..."
            />

            <div class="d-flex justify-content-end">
              <h2>عنوان</h2>
            </div>
            <div class="d-flex align-content-end">
              <p class="card-text mx-2 justify-content-end">
                تأسيس وتعديل كافة انواع الشركات بكافة أشكالها القانونية منشئات
                فردية - شركات أشخاص - شركات اموال - شركات مهنية - مكاتب تمثيل
                لشركات أجنبية حتى استلام السجل التجاري واكتساب الشركة الشخصية
                الاعتبارية وكذلك كافة التعديلات للنظام الأساسي والسجل التجاري
                للشركات أثناء عمر الشركة.
              </p>
            </div>
          </div>
        </div>
        <!--end card for mobile -->
        <div class="d-flex justify-content-center col-sm-6 col-12">
          <div class="card-mobile">
            <img
              src="../assets/images/card/Grow-Money.jpg"
              class="card-img-mobile"
              alt="..."
            />

            <div class="d-flex justify-content-end col-12">
              <h2>عنوان</h2>
            </div>
            <div class="d-flex align-content-end">
              <p class="card-text mx-2 justify-content-end">
                تأسيس الشركات والمنشأة الفردية بأنواعها وحسب الكيان القانوني لها
                ، شركات أشخاص- تضامن وتوصية بسيطة ، شركات الأموال – شركات
                مساهمة، شركات ذات مسئولية محدودة ، شركات الشخص الواحد، والتوصية
                بالاسهم تحت جميع القوانين واللواح المعمول بها في جمهورية مصر
                العربية.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
